<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EE Transport Utility</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <div id="page-title">Transport Jobs</div>
    <nav-bar>
        <form action="/login" method="post">
            <button type="submit" formaction="/login">Login</button>
        </form>
    </nav-bar>
</header>